.eachtodoCard {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #05b6f1;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
  padding-right: 10px;
  margin-bottom: 8px;

}

.buttons-update-delete {
    width: 50px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.uodate-button {
    background-color: transparent;
    border:none;
    height: 30px;
}
.delete-button {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    height: 30px;

}

.text-style {
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}

.edit {
    color: green;
}

.delete {
    color: red;
}

